.DS_Store
__pycache__/
*.pyc
*.pyo
*.blend1
*.npz

02_rf_simulation/sionna_env/
06_mediapipe_integration/mediaPipe/mediaPipeEnv/

05_live_demo/live_rf_plot_hand/__pycache__/

01_blender_gesture_modeling/assets/source2/hand_motion_full.json
01_blender_gesture_modeling/assets/source2/hand_motion_dataset_full.json
01_blender_gesture_modeling/assets/source2/hand_motion_dataset_wrist.json
01_blender_gesture_modeling/assets/source2/hand_no_motion_dataset.json
01_blender_gesture_modeling/assets/source2/*.json

03_hand_mesh_pipeline/raw_frames/**/*.ply
03_hand_mesh_pipeline/cleaned_frames/**/*.ply
03_hand_mesh_pipeline/normalized_frames/**/*.ply
03_hand_mesh_pipeline/wrist_frames/**/*.ply
02_rf_simulation/data/**/*.ply
05_live_demo/live_rf_plot_hand/hand_frames_live/**/*.ply
05_live_demo/live_rf_plot_hand/hand_frames_live_clean/**/*.ply
05_live_demo/live_rf_plot_hand/hand_frames_live_normalized/**/*.ply
